body {
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.7;
    color: white;
}

.heading-primary {
    color: #c09300;
    font-size: 8rem;
    display: block;
}